* {
  margin: 0;
}

.ebf4591c8e {
  font-size: 0px;
  width: 100%;
  padding-inline-start: initial;
  padding-inline-end: initial;
}
option {
  font-size: 14px;
}
.titlepage h2::after {
  position: absolute;
  content: "";
  background-color: #ff0909;
  width: 20px;
  height: 4px;
  transform: rotate(-36deg);
  bottom: 10px;
}
.titlepage {
  position: relative;
}
.titlepage h2 {
  font-size: 30px;
  color: #121212;
  line-height: 45px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0;
}

.titlepage h2::before {
  position: absolute;
  content: "";
  background-color: #ff0909;
  width: 20px;
  height: 4px;
  transform: rotate(-36deg);
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-modal .ant-modal-close {
  position: absolute;
  top: 15px;

  inset-inline-end: 12px;
  z-index: 1010;
  padding: 0;
  color: rgba(0, 0, 0, 0.45);
  font-weight: 600;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  border-radius: 4px;
  width: 110px;
  height: 32px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: color 0.2s, background-color 0.2s;
}

:where(.css-dev-only-do-not-override-qnu6hi).ant-modal .ant-modal-close:hover {
  color: rgba(0, 0, 0, 0.88);
  background: none !important;
  text-decoration: none;
}
.anticon {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.anticon:hover {
  color: rgba(0, 0, 0, 0.88);
  background: rgba(0, 0, 0, 0.06);
  padding: 3px 3px;
  text-decoration: none;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-modal .ant-modal-title {
  margin: 0;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 700;
  font-size: 19px;
  line-height: 1.5;
  word-wrap: break-word;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 7px !important; /* Decrease the width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Track color */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #cacaca; /* Scrollbar thumb color */
  border-radius: 7px !important; /* Optional: rounded corners */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1; /* Hover color */
}
@keyframes zoomIn {
  from {
    transform: scale(0.5); /* Start smaller */
    opacity: 0; /* Start transparent */
  }
  to {
    transform: scale(1); /* End at normal size */
    opacity: 1; /* End f.navbar ully visible */
  }
}
@keyframes zoomOut {
  from {
    transform: scale(1); /* Start at normal size */
    opacity: 1; /* Start fully visible */
  }
  to {
    transform: scale(0.05); /* End smaller */
    opacity: 0; /* End transparent */
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-50%); /* Start off-screen above */
    opacity: 0; /* Start transparent */
  }
  100% {
    transform: translateY(0); /* End at its normal position */
    opacity: 1; /* End fully visible */
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0); /* Start off-screen above */
    opacity: 1; /* Start transparent */
  }
  100% {
    transform: translateY(-100%); /* End at its normal position */
    opacity: 0; /* End fully visible */
  }
}

.MessagesModalAnimationDown{
  animation: slideDown 1s ease forwards; /* Apply the animation */
}

.MessagesModalAnimationUp{
  animation: slideUp 1s ease forwards; /* Apply the animation */
}
/* Apply the animation to your element */
.zoom-out {
  animation: zoomOut 1s forwards; /* Duration of 1 second, with 'forwards' to maintain the end state */
}
/* Apply the animation class */
.zoom-in {
  animation: zoomIn .8s ease-in-out; /* 0.3 seconds animation */
}


@media screen and (max-width: 1060px) {
  :where(.css-dev-only-do-not-override-qnu6hi).ant-modal .ant-modal-close {
    position: absolute;
    top: 0px;
    left: 50%;
    inset-inline-end: 12px;
    z-index: 1010;
    padding: 0;
    color: rgba(0, 0, 0, 0.45);
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    background: transparent;
    border-radius: 4px;
    width: 0px;
    height: 32px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s;
  }
  :where(.css-dev-only-do-not-override-qnu6hi).ant-modal .ant-modal-content {
    position: relative;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0;
    border-radius: 8px;
    box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
      0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
    pointer-events: auto;
    padding: 20px 0px;
  }
}

.date-pickers-container {
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: translateY(100%); /* Start hidden below the view */
  opacity: 0; /* Start f.navbar ully transparent */
}

.date-pickers-container.show {
  transform: translateY(0); /* Slide into view */
  opacity: 1; /* Make it visible */
}

.rhg-text-4xl {
  font-size: 56px;
  line-height: 72px;
}
.rhg-hero-slider-hero-home-center-subtitle {
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  word-break: break-word;
  height: 100px;
}
.rhg-hero-slider-hero-home-center * {
  vertical-align: middle;
}

.mask {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0.4;
  background: #29343d;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-height: 5;
}

input:focus {
  outline: none !important; /* Force the removal of outline */
  box-shadow: none !important; /* Remove box-shadow if applied */
  border-color: #94a3b8 !important; /* Set border color to transparent */
}
textarea:focus {
  outline: none !important; /* Force the removal of outline */
  box-shadow: none !important; /* Remove box-shadow if applied */
  border-color: #94a3b8 !important; /* Set border color to transparent */
}
.features select:not([size]) {
  background-image: none !important;
}

select:focus {
  outline: none !important; /* Force the removal of outline */
  box-shadow: none !important; /* Remove box-shadow if applied */
  border-color: #94a3b8 !important; /* Set border color to transparent */
}

@media screen and (max-width: 748px) {
  .rhg-text-4xl {
    font-size: 36px;
    line-height: 40px;
  }
}



.navbar ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
}
.navbar ul li {
  list-style: none;
}
.navbar ul li a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 20px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}
.navbar ul li a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}
.navbar ul li a:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}
.navbar ul li a:hover {
  color: #fff;
}
.navbar ul li a:hover:before {
  transform: scaleY(1);
  opacity: 1;
}
.navbar ul li a:hover:after {
  transform: scaleY(1);
  opacity: 1;
}


.loader {
  width: 30px;
  height: 30px;
  border: 2px solid;
  border-color: rgb(41, 40, 40) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader_white {
  width: 25px;
  height: 25px;
  border: 2px solid;
  border-color: rgb(218, 218, 218) transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 